#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
nuget

##############
# IDE config #
##############

.idea/
.vscode/

####################
# Build artifacts  #
####################

frontend/server.js
frontend/server.d.ts
frontend/vite.config.js
frontend/vite.config.d.ts
