.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 80px;
}

.logo {
    height: 3.5em;
}

.title {
    font-size: 2.5em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.alert {
    margin: 0;
    margin-bottom: 30px;
}

.error {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}